---
import { SkillsIcons } from "@/consts/consts";
---

<section class="mb-10">
  <h2 class="mb-2 text-lg font-bold">Habilidades</h2>
  <div class="flex flex-wrap gap-4 mb-4">
    {
      SkillsIcons.map(({ Icon, name }, index) => {
        if (index < 5) {
          return (
            <div class="flex flex-col items-center gap-2 p-2 transition-colors border border-dashed rounded cursor-pointer hover:bg-neutral-700/20 border-neutral-700">
              <Icon />
            </div>
          );
        }
      })
    }
  </div>
  <h3 class="mb-2 text-sm font-medium text-neutral-400">Aprendiendo</h3>
  <div class="flex flex-wrap gap-4">
    {
      SkillsIcons.map(({ Icon, name }, index) => {
        if (index > 4) {
          return (
            <div class="flex flex-col items-center gap-2 p-2 transition-colors border border-dashed rounded cursor-pointer hover:bg-neutral-700/20 border-neutral-700">
              <Icon />
            </div>
          );
        }
      })
    }
  </div>
</section>
