---
import Discord from "@/icons/Discord.astro";
import GitHub from "@/icons/GitHub.astro";
---

<section class="mb-10">
  <h2 class="mb-2 text-lg font-bold">Links</h2>
  <div class="flex flex-wrap items-center justify-start gap-4">
    <a
      href=""
      class="inline-flex items-center p-2 transition-colors border border-dashed rounded gap-x-2 border-neutral-700 hover:bg-neutral-700/20"
      ><Discord /> NxGo</a
    >
    <a
      href=""
      class="inline-flex items-center p-2 transition-colors border border-dashed rounded gap-x-2 border-neutral-700 hover:bg-neutral-700/20"
      ><GitHub /> NxGo</a
    >
    <a
      href=""
      class="inline-flex items-center p-2 transition-colors border border-dashed rounded gap-x-2 border-neutral-700 hover:bg-neutral-700/20"
      ><Discord /> Quantum</a
    >
    <a
      href=""
      class="inline-flex items-center p-2 transition-colors border border-dashed rounded gap-x-2 border-neutral-700 hover:bg-neutral-700/20"
      ><GitHub />Quantum</a
    >
  </div>
</section>
