<header
  class="fixed justify-center hidden w-full border-b border-dashed xs:flex border-neutral-700 backdrop-blur-md"
>
  <div class="flex">
    <a href="/" class="p-2 hover:bg-neutral-700">Inicio</a>
    <a href="/" class="p-2 hover:bg-neutral-700">Proyectos</a>
    <a href="/" class="p-2 hover:bg-neutral-700">Otros</a>
  </div>
</header>
